
<div class="banner">
  <div class="container">
  	{% if page.categories != null %}
    	<span class='fa fa-folder-open'></span>
      <a href="{{ '/categories/' | prepend: site.baseurl }}#{{page.categories}}-ref">{{page.categories}}</a>
      &nbsp;&nbsp;
      <span class='fa fa-tags'></span> 
      {% for tag in page.tag  %}
    	  <a href="{{ '/tag/' | prepend: site.baseurl }}#{{page.tag}}-ref">{{tag}}</a>&nbsp;
      {% endfor %}
    {% else %}
    	{{ site.banner }}
    {% endif %}
  </div>
</div>
